.landing {
    background: url(../images/firstsec.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.landing h1 {
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}
.text h1 {
    font-weight: bolder;
    font-size: 3.5rem;
}
.items-count{
    font-size: .8rem;
    color: rgb(102, 102, 102);
}
.list div {
    background-color: rgb(245 245 245);
    border: 1px solid rgb(226, 226, 226);
}


.list-item {
    min-height: 80px; 
}

.discount {
    padding: 10px;
    padding-left: 15px;
    border-radius: 5px;
    display: inline-block;
    font-size: 55px;
}
.percent{
    padding-top: 25px;
}

p {
    margin-bottom: 0;
}

.card {
    padding:25px ;
    border: 1px solid rgb(226, 226, 226);
    text-align: center;
}
.card img {
    padding: 15px;
    border-radius: 10px;
}
.icon-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -35px auto 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 0;
}

.stars {
    color: orange;
}
.discounted-price {
    font-size: 20px;
    font-weight: bold;
    color: red;
}
.original-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}
/*  */
.off-one{
    background: url('../images/b.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 238.8px;
}
.off-two{
    background: url('../images/s.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 238.8px;
}
.off-three{
    background: url('../images/f.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 238.8px;
    
}
.info .container .row div{
    background-color: rgb(231, 231, 231);
    max-width: 300px;
    margin-bottom: 15px;
}

.info .container .row div p{
    font-size: .9rem;
}

.organic {
    background: url(../images/organic.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}
.organic .text {
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.137);
    padding: 10px;
    border-radius: 6px;
    background-color:rgba(243,221,205,255);
}

.countdown-timer{
    border: 1px solid rgba(253, 97, 136, 0.212);
    
}



.macaraoni{
    background: url(../images/macaraoni.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 474px;
    margin-bottom: 20px;
    
}
.pizza {
    background: url(../images/pizza.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 474px;
    margin-bottom: 20px;

}
.vege {
    background: url(../images/vege.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 474px;
    margin-bottom: 20px;   
}

